.glossy-button-medium {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 123px;
}

.glossy-button-medium .glossy-medium-base-instance {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.glossy-button-medium .design-component-instance-node {
  margin-right: -6px !important;
}

.glossy-button-medium .glossy-medium-base-2 {
  font-family: "Noto Sans", Helvetica !important;
}
