/* 
.hero {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hero .div {
  background-color: #ffffff;
  height: 1600px;
  position: relative;
  width: 100%;
}

.hero .overlap {
  background-image: url(../../../src/assets/pexels-ryutaro-tsukata-5473223-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 766px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero .welcome-to-recovery {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  font-family: "EB Garamond", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 580px;
  left: 137px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 1043px;
}

.hero .overlap-group {
  height: 375px;
  left: 340px;
  position: absolute;
  top: 867px;
  width: 640px;
}

.hero .element {
  height: 200px;
  left: 222px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 200px;
}

.hero .text-wrapper {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 64px;
  font-weight: 700;
  height: 176px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 199px;
  width: 640px;
}

.hero .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 54px;
  height: 232px;
  left: 109px;
  position: absolute;
  top: 1273px;
  width: 1102px;
}

.hero .text {
  align-self: stretch;
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
}

.hero .span {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

